/* Reset default styles */
body, h1, h2, p, ul, li, button, select, label {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

body {
    background-color: #f0f0f0; 
}

/* Colors as variables for reusability */
:root {
    --dark-grey: #3d3d3d;
    --light-grey: #e0e0e0;
    --gold: #ffd900ad;
    --darker-grey-hover: #292929;
    --aston-purple: #bb00d4;
    --error-red: #ff0000;
}

/* Navbar Styles */
nav {
    background-color: var(--dark-grey); 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5em;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.active a {
    color: var(--gold);
}

/* Hero Section Styles */
.hero {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

/* Project List Styles */
.project-list {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    width: calc(33.333% - 20px); 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.project img {
    width: 100%; 
    height: auto; 
}

.project-info {
    flex: 1;
}

.project-actions {
    display: flex;
    justify-content: space-between;
}

/* Filter Section Styles */
.filter {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

label {
    margin-right: 10px;
}

select {
    padding: 8px;
    margin-right: 20px;
}

/* Button Styles */
button {
    background-color: var(--dark-grey);
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--darker-grey-hover); /* Slightly darker grey on hover */
}

/* Login Styles */
.login-container {
    background-color: var(--light-grey);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    width: calc(33.33vw - 160px); /* 1/3 of width - (4 * padding) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box-div {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

.loginBtn {
    background-color: var(--dark-grey);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: var(--darker-grey-hover); 
}

/* Error Message Login.php */
.error {
    color: var(--error-red);
    margin-top: 10px;
    text-align: center;
}

.signup {
    text-align: center;
    margin-top: 20px; 
}

.signup a {
    color: var(--aston-purple); 
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

#signupForm {
    background-color: var(--light-grey);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    width: calc(33.33vw - 160px); /* Adjusted width to match login form */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupForm .textBoxdiv {
    margin-bottom: 15px;
}

#signupForm input {
    padding: 10px;
    margin-bottom: 10px;
}
.textBoxdiv p {
    text-align: center;
}
/* Make "new here? sign in" diff box:
.login {
    color: black;
    text-align: center;
    background-color: var(--light-grey);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.login {
    display: flex; 
    flex-direction: column; 
    align-items: center; 

.login h3 a {
    color: var(--aston-purple);
    text-align: center; 
}


#signupForm .signupBtn {
    background-color: var(--dark-grey);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#signupForm .signupBtn:hover {
    background-color: var(--darker-grey-hover); 
}

/* Error Message Styles */
#signupForm .signup-error {
    display: none; /* Initially hide the error message */
    color: var(--error-red);
    margin-top: 10px; 
    text-align: center;
}

#signupForm .signup-error.show {
    display: block; /* Show the error message if there is an error */
}


/* Student Dashboard */
.student-submission {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #eae9e9;
    border-radius: 5px;
    background-color: var(--light-grey); 
}

/* Checkbox Styles */
.checkbox-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Author Details Form Styles */
.author-details-form {
    display: flex;
    flex-direction: column;
}

.author-details-form label {
    margin-bottom: 5px;
}

.author-details-form input {
    padding: 8px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 0px;
}

/* Main Submission Form Styles */
#mainSubmissionForm {
    display: flex;
    flex-direction: column;
}

#mainSubmissionForm label {
    margin-bottom: 10px;
}

#mainSubmissionForm input,
#mainSubmissionForm textarea,
#mainSubmissionForm select {
    padding: 8px;
    margin-bottom: 15px;
}

/* Submit Button Styles */
#mainSubmissionForm button {
    background-color: var(--dark-grey);
    color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#mainSubmissionForm button:hover {
    background-color: var(--darker-grey-hover);
}
